<!--
  Generated template for the RegisterStudentStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">Menu</ion-icon>
    </button>
    <ion-title class="cl-student">Student Information</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- <div>
    <h4>Debug</h4>
    <pre>Form : {{Studentstep2Form.value | json }}</pre>
    <pre>Form Status : {{Studentstep2Form.status }}</pre>
  </div> -->

  <form [formGroup]="Studentstep2Form" name="Studentstep2Form" (ngSubmit)="next(Studentstep2Form.value)" novalidate>

    <div class="list list-inset registration teacher step2">

      <div class="tagline bg-student">
        <p>Tell us about yourself</p>
      </div>

      <div class="profile-pic">
        <img id="picForDisplay" (click)="chooseUploadType($event)" [src]="pageProfileSrc" width="150px" *ngIf="!photoSelected && !photoTaken" />
        <img (click)="chooseUploadType($event)" [src]="cameraData" *ngIf="photoTaken" width="150px">
        <img (click)="chooseUploadType($event)" [src]="cameraUrl" *ngIf="photoSelected" width="150px">
        <span class="input-label">Upload your photo</span>
      </div>

      <!-- Name -->
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input placeholder="eg: John Doe" type="text" formControlName="name"></ion-input>
      </ion-item>

      <div *ngIf="!Studentstep2Form.controls['name'].valid && Studentstep2Form.controls['name'].touched" class="item item-message">
        Name is required
      </div>

      <!-- Phone -->
      <ion-item>
        <ion-label fixed>Phone No</ion-label>
        <ion-input placeholder="9999 999 999" type="tel" formControlName="phone"></ion-input>
      </ion-item>

      <div *ngIf="!Studentstep2Form.controls['phone'].valid && Studentstep2Form.controls['phone'].touched" class="item item-message">
        Phone number is required
      </div>

      <!-- Profile Message -->
      <ion-item>
        <ion-label fixed>Profile Message</ion-label>
        <ion-textarea formControlName="profileMessage" placeholder="Put any comment..."></ion-textarea>
      </ion-item>

      <div *ngIf="!Studentstep2Form.controls['profileMessage'].valid && Studentstep2Form.controls['profileMessage'].touched" class="item item-message">
        Profile Message is required
      </div>

      <h3>Are you part of a school</h3>
      <ion-slides id="student-school" slidesPerView="2">
        <ion-slide (click)="filterpartOfSchool(true)" [ngClass]="{'active': partOfSchool == true}">
          <p>Yes</p>
        </ion-slide>
        <ion-slide (click)="filterpartOfSchool(false)" [ngClass]="{'active': partOfSchool == false}">
          <p>No</p>
        </ion-slide>
      </ion-slides>

      <div [hidden]="partOfSchool != true" class="school-information">
        <h2>School Information</h2>
        <ion-item>
          <ion-label fixed>School Name</ion-label>
          <ion-input placeholder="eg: St. John High School" type="text" formControlName="studentSchoolName"></ion-input>
        </ion-item>

        <div *ngIf="!Studentstep2Form.controls['studentSchoolName'].valid && Studentstep2Form.controls['studentSchoolName'].touched" class="item item-message">
          School Name is required
        </div>
      </div>

    </div>

    <button class="button button-positive bg-student" [disabled]="!Studentstep2Form.valid" ion-button full>Next</button>

  </form>

</ion-content>
