<!--
  Generated template for the TeacherStep3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <!-- <ion-icon name="{{ 'menu' | translate }}"></ion-icon> -->
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'expertiseAndFees' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <!-- <div>
    <h4>Debug</h4>
    <pre>Form : {{Teacherstep3Form.value | json }}</pre>
    <pre>Form Status : {{Teacherstep3Form.status }}</pre>
    <pre>Form End Time Status : {{Teacherstep3Form.get('endTime').value }}</pre>
    <pre>Form End Time Status : {{Teacherstep3Form.get('endTime').status }}</pre>
    <pre>Form StartDate Status : {{Teacherstep3Form.get('dates.endDate').value }}</pre>
  </div> -->

  <form [formGroup]="Teacherstep3Form" name="Teacherstep3Form" (ngSubmit)="finalTeacherSubmit(Teacherstep3Form.value)" novalidate>

    <div class="list list-inset registration teacher step3">

      <div class="tagline">
        <p>{{ "whatsYourExpertise" | translate }}</p>
      </div>

      <div class="reg-section">
        <div class="reg-sub-title"><h3>{{ "langsOfExpertise" | translate }}</h3></div>

        <ion-item *ngFor="let lang of languages">
          <ion-label>{{ lang}}</ion-label>
          <ion-checkbox (ionChange)="onChangeTeacherLanguage(lang, $event.checked)"></ion-checkbox>
        </ion-item>
      </div>

      <div class="reg-section">
        <div class="reg-sub-title"><h3>{{ "levelsCapable" | translate }}</h3></div>
        <ion-item *ngFor="let level of levels">
          <ion-label>{{ level.name }}</ion-label>
          <ion-checkbox (ionChange)="onChangeLevelLanguage(level.name, $event.checked)" ></ion-checkbox>
        </ion-item>
      </div>
      <h3>{{ "yearsOfExperience" | translate }}</h3>

      <ion-slides id="year-teaching" (ionSlideDidChange)="yearChanged()" slidesPerView="7">
        <ion-slide (click)="filterYear(year.value)" [ngClass]="{'active': yearExperience == year.value}" *ngFor="let year of years">
          <p>{{ year.text }}</p>
        </ion-slide>
      </ion-slides>

      <ion-list>
        <ion-item class="teacher-certs" *ngFor="let cert of TeacherFilesView">
          {{cert.name}}
          <a href="javascript:" (click)="deleteTeacherCert(cert)"><img src="./assets/img/delete-icon.png"></a>
        </ion-item>
      </ion-list>

      <div class="teacher-cv">
        <input type="file" formControlName="teacherCvCerts" (change)="addTeacherCvCert($event.srcElement.files)" id="teacherCv" multiple="">
        <div class="button button-cv">{{ "uploadCreds" | translate }}</div>
        <span class="input-label">{{ "credsVerify" | translate }}</span>
      </div>

      <div class="tagline">
        <p>{{ "whatsYourFee" | translate }}</p>
      </div>
      <h3>{{ "preferredHourlyRates" | translate }}</h3>
      <ion-slides (ionSlideDidChange)="rateChanged()" slidesPerView="7">
        <ion-slide (click)="filterRate(rate.value)" [ngClass]="{'active': hourlyRate == rate.value}" *ngFor="let rate of hourRates">
          <p>{{ rate.text }}</p>
        </ion-slide>
      </ion-slides>

    <h3>{{ "currency" | translate }}</h3>

      <ion-slides (ionSlideDidChange)="currencyChanged()" slidesPerView="4">
        <ion-slide (click)="filterCurrency(currency.value)" [ngClass]="{'active': userCurrency == currency.value}" *ngFor="let currency of currencies">
          <p>{{ currency.text }}</p>
        </ion-slide>
      </ion-slides>

      <div class="tagline">
        <p>{{ "yourAvailability" | translate}}</p>
      </div>

      <label class="item item-input">
        <span class="input-label">{{ "preferredTeachingLocation" | translate }}</span>
        <ion-input placeholder="Location Name" type="text" formControlName="prefLocation"></ion-input>
      </label>

      <div *ngIf="!Teacherstep3Form.controls['prefLocation'].valid && Teacherstep3Form.controls['prefLocation'].touched" class="item item-message">
        {{ "prefLearnLoc" | translate }}
      </div>
      <div class="available-date">
      <h3>{{ "availableTimings" | translate }}</h3>
      <label class="item item-input">

        <!-- <button ion-button >Start Date</button> -->
        <div class="date-icon">
          <img src="../../assets/img/date-icon.png" />
        </div>
        <ion-input type="text" (click)="startDateCalendar()" value="{{ startDate }}"></ion-input>
      </label>
      <div class="to-text">
          To
      </div>
      <label class="item item-input">
        <!-- <button ion-button>End Date</button> -->
        <div class="date-icon">
          <img src="../../assets/img/date-icon.png" />
        </div>
        <ion-input type="text" (click)="endDateCalendar()" value="{{ endDate }}"></ion-input>
      </label>
    </div>

    <div class="available-time">
      <label class="item item-input">
        <div class="clock-icon">
          <img src="../../assets/img/clock-icon.png" />
        </div>
        <ion-datetime displayFormat="HH-mm" formControlName="startTime"></ion-datetime>
      </label>

      <div *ngIf="Teacherstep3Form.get('startTime').invalid && Teacherstep3Form.get('startTime').touched" class="item item-message">
        Start time is required.
      </div>
      <div class="to-text">
          To
      </div>
      <label class="item item-input right-box">
        <div class="clock-icon">
          <img src="../../assets/img/clock-icon.png" />
        </div>
        <ion-datetime displayFormat="HH-mm" formControlName="endTime"></ion-datetime>
      </label>

      <div *ngIf="Teacherstep3Form.get('endTime').invalid && Teacherstep3Form.get('endTime').touched" class="item item-message">
        End time is required.
      </div>

    </div>
    </div>

    <button class="button button-positive" [disabled]="!Teacherstep3Form.valid" ion-button full>{{ "submit" | translate }}</button>

  </form>

</ion-content>
