<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133229201820-glnpilnt3r4244qhhkeaosi8nnals4pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133229201820-glnpilnt3r4244qhhkeaosi8nnals4pc</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGJe9987wZlgjNctCCdsiC9GkOT8ByeE</string>
	<key>GCM_SENDER_ID</key>
	<string>133229201820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.smartie</string>
	<key>PROJECT_ID</key>
	<string>smartie-renamed</string>
	<key>STORAGE_BUCKET</key>
	<string>smartie-renamed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133229201820:ios:d4047e68ae020cae</string>
	<key>DATABASE_URL</key>
	<string>https://smartie-renamed.firebaseio.com</string>
</dict>
</plist>