<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title [class]="getRole()">Edit User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="EditProfileForm" name="EditProfileForm" (ngSubmit)="next(EditProfileForm.value)" novalidate>
    <ion-list class="list-inset registration">
      <div class="tagline">
        <p>{{ "letsEditAccountInformation" | translate }}</p>
      </div>

      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input [value]="email" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="!EditProfileForm.controls['email'].valid && !EditProfileForm.controls['email'].pristine" class="item-message">
        Email is required
      </ion-item>

      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input [value]="username" type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item *ngIf="!EditProfileForm.controls['username'].valid && !EditProfileForm.controls['username'].pristine" class="item-message">
        User name is required
      </ion-item>

      <div>
        <ion-item>
          <ion-label fixed>Current Password</ion-label>
          <ion-input placeholder="********" type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="item-message" *ngIf="EditProfileForm.get('password').invalid && EditProfileForm.get('password').touched">
          Password is required to edit your account
        </ion-item>
      </div>
    </ion-list>
    <button class="button button-positive" [disabled]="!EditProfileForm.valid" ion-button full>Next</button>
  </form>
</ion-content>
