page-edit-profile {
    .teacher {
      .back-button-icon{
        color: #00BC5B !important
      }
      .back-button-text{
        color: #00BC5B !important
      }
      .button-positive{
        background-color: #00BC5B !important
      }
      .button-ios{
        background-color: #00BC5B !important
      }
    }
    .student {

      .back-button-icon{
        color: #0096D7 !important
      }
      .back-button-text{
        color: #0096D7 !important
      }
      .button-positive{
        background-color: #0096D7 !important
      }
    }
    .parent {
        .back-button-icon{
          color: #F97533 !important
        }
        .back-button-text{
          color: #F97533 !important
        }
        .button-positive{
          background-color: #0096D7 !important
        }
    }
    .school {
        .back-button-icon{
          color: #F31C62 !important
        }
        .back-button-text{
          color: #v !important
        }
        .button-positive{
          background-color: #F31C62 !important
        }
    }

  .back-button{
    &.student {
      color: #0096D7 !important;
    }
    &.parent {
      color: #F97533 !important;
    }
    &.school {
      color: #F31C62 !important;
    }
  }
}
