<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{ role }}">
  <ion-navbar>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="FeedbackForm" name="FeedbackForm" novalidate>
    <div class="profile-column">
      <div class="feedback-bottom">
        <h5 class="font-14 font-regular">Your Feedback</h5>
        <ion-textarea formControlName="feedback" [(ngModel)]="feedbackValue" placeholder="Please leave your feedback here..."></ion-textarea>
      </div>
      <div *ngIf="FeedbackForm.get('feedback').invalid && FeedbackForm.get('feedback').touched" class="item item-message">
        Feedback is required.
      </div>
      <div class="feedback-bottom text-center">
        <button class="button button-positive button-cv width-50" type="button" (click)="addUserScreenShot()">Upload file</button>
      </div>
      <div *ngIf="userScreenshotsView.length > 0">
        <h5 class="font-14 font-regular">Attached Files</h5>

        <ion-item *ngFor="let files of userScreenshotsView" class="list-files">
          <ion-icon name="image" class="" item-start></ion-icon>
          <h4 class="file-name font-14">{{files.name}} </h4>
          <span item-end>
            <ion-icon name="close" (click)="removeFile($index)"></ion-icon>
          </span>
        </ion-item>
      </div>
    </div>
  </form>
</ion-content>
<ion-footer transparent no-border>
  <button type="submit" class="button button-positive button-cv" (click)="submitFeedback(FeedbackForm.value)" [disabled]="!FeedbackForm.valid"
    ion-button full>Submit Your Feedback</button>
</ion-footer>
