<ion-header>

  <ion-navbar>
    <ion-title>{{ receiver.fullname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content (ionScroll)="onScroll($event)" >
  <ion-infinite-scroll (ionInfinite)="fetchMore($event)" position="top" threshold="30px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="!chatAccess" class="chat-warning">
    <h2>You are not able to send message to this User</h2>
  </div>
  <div *ngIf="chatAccess" class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor="let item of chatMessages;" text-wrap>
        <div *ngIf="item.displayTime.messageDate" class="text-center">
          <h4 class="msg-date">{{item.displayTime.messageDate}}</h4>
        </div>
        <ion-avatar item-left *ngIf="(receiver.objectId == item.sender && receiver.objectId != item.receiver)">
          <img *ngIf="receiver.profilePhoto" [src]="receiver.profilePhoto">
        </ion-avatar>
        <div class="bubble me" *ngIf="(receiver.objectId == item.sender && receiver.objectId != item.receiver)">
          <h3 class="message-align">{{item.message}}</h3>
          <span class="align-time">{{item.displayTime.sentTime}}</span>
        </div>
        <div class="bubble you" *ngIf="(receiver.objectId == item.receiver && receiver.objectId != item.sender)">
          <h3 class="message-align">{{item.message}}</h3>
          <span class="align-time">{{item.displayTime.sentTime}}</span>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border chat-toolbar" color="white">
    <!-- <ion-input [(ngModel)]="newmessage" class="newmessage" placeholder="Write your message ..." [disabled]="!newmessage"></ion-input> -->
    <ion-input [(ngModel)]="newmessage" class="newmessage" placeholder="Write your message ..." ></ion-input>
    <ion-buttons right>
      <button ion-button (click)="sendMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
