<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="role">
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="horizontal-logo"></ion-title>
    <ion-buttons end>
      <button [disabled]="notifyCount == 0" class="notification-brain" (click)="pushAccepteds()"><span *ngIf="notifyCount">{{ notifyCount }}</span></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="{{role}}">
  <div>
    <div class="row">
      <div class="col padding-none search-filters">
        <ion-searchbar  (ionInput)="filterBysubject($event)" (search)="submitSearch($event)" placeholder="{{searchText}}"></ion-searchbar>
          <ion-searchbar [(ngModel)]="selectedLocation" id="locationSearch" type="text" placeholder="Search location" ></ion-searchbar>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let lists of smartieListAlias" (click)="openJobRequst(lists)">
        <ion-avatar item-start>
          <img *ngIf="lists.profilePhoto" [src]="lists.profilePhoto" />
        </ion-avatar>
        <h2 class="chat-title">{{lists.fullname}}</h2>
        <p>{{lists.profileTitle}}</p>
        <div item-end>
          <p class="role-txt-color">{{lists.prefPayRate}}$ <br/> <span style="color:lightgrey">per hour</span></p>
        </div>
    </ion-item>
  </ion-list>
  <div class="text-center" *ngIf="fetchingData">
    <p>Fetching data...</p>
  </div>
  <div class="text-center" *ngIf="smartieListAlias.length == 0">
    <p>No Smartie users found on this location.</p>
  </div>
</ion-content>
