<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{role}}">

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Smartie</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="{{role}}">
  <div>
    <!-- <div class="row tagline padding-none">
      <div class="col col-70 txt-left">
        <p>{{smartieList.length}} {{role == 'teacher' ? 'Teachers' : 'Students' }}</p>
      </div>
      <div class="col col-33 txt-right">
        <button ion-button icon-left class="button button-clear bg-transparent">
          <ion-icon name="custom-filter" style="width: 20px;"></ion-icon>
          Filter
        </button>
      </div>
    </div> -->
    <div class="row">
      <div class="col padding-none">
        <ion-searchbar (ionInput)="filterBysubject($event)" (search)="submitSearch($event)" placeholder="Search your favourite subject!"></ion-searchbar>
        <button ion-button class="button button-block button-clear bg-transparent role-txt-color no-box-shadow">
          <p class="role-txt-color">{{this.cityName}} <span style="text-align: right"><ion-icon name="pin" style="width: 20px;"></ion-icon></span></p>
        </button>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col col-80 padding-none text-center">
      </div>
      <div class="col col-20 padding-none">

      </div>
    </div> -->
  </div>

  <ion-list>
    <ion-item *ngFor="let lists of smartieListAlias">
        <ion-avatar item-start>
          <img *ngIf="lists.profilePhoto" [src]="lists.profilePhoto" />
          <!-- <img *ngIf="!lists.profilePhoto" [src]="./assets/imgs/user-round-icon.png" /> -->
        </ion-avatar>
        <h2 class="chat-title">{{lists.fullname}}</h2>
        <p>{{lists.profileTitle}}</p>
        <div item-end>
          <p class="role-txt-color">{{lists.prefPayRate}}$ <br/> <span style="color:lightgrey">per hour</span></p>
        </div>
    </ion-item>
  </ion-list>
</ion-content>
