page-list {
  .padding-none{
    padding: 0px !important;
  }
  .no-box-shadow{
    box-shadow: none !important;
  }

  .search-filters .searchbar-ios{
      background-color: #fff !important;
      border-top: 1px solid transparent;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
      border-radius: 2px;
      background-position: left 8px center;
  }

}
