page-edit-profile-step2 {
  .cl-teacher{
    .toolbar-title{
      color: #00BC5B !important
    }
    .back-button{
      color: #00BC5B !important
    }
  }
  .cl-parent {
    .toolbar-title{
      color: #F97533 !important
    }
    .back-button{
      color: #F97533 !important
    }
  }
  .cl-school {
    .toolbar-title{
      color: #F31C62 !important
    }
    .back-button{
      color: #F31C62 !important
    }
  }
  .cl-student {
    .toolbar-title{
      color: #0096D7 !important
    }
    .back-button{
      color: #0096D7 !important
    }
  }
  ion-content {
    &.teacher {
    }
    &.student {
    }
    &.parent {
    }
    &.school {
    }
  }
  .back-button{
    &.student {
      color: #0096D7 !important;
    }
    &.parent {
      color: #F97533 !important;
    }
    &.school {
      color: #F31C62 !important;
    }
  }
  .cl-student .toolbar-title{
    color: #0096D7 !important
  }
  .cl-parent .toolbar-title{
    color: #F97533 !important
  }
  .cl-school .toolbar-title{
    color: #F31C62 !important
  }
  .swiper-wrapper{
    width: 120px;
    margin: auto;
    .swiper-slide.active{
      border-color: #0096D7 !important;
    }
  }
  .school-information{
    text-align: center;
    padding-top: 20px;
    h2{
      font-size: 23px;
      color: #0096D7;
    }
  }
}
