<!--
Generated template for the ViewProfilePage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->

<ion-header [ngClass]="params.loggedRole">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">Menu</ion-icon>
    </button>
    <ion-title *ngIf="params.role == 'teacher'">Teacher Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="params.loggedRole">
  <div class="notification-wrapper totles-pop-search" id="profile-info">
    <div class="notification">
      <div class="left">
        <div class="avatar"><img src="{{ params.profilePhoto }}"></div>
        <div class="u-detail">
          <div class="name">{{ params.fullname }}</div>
          <div class="profile-type">{{ params.role }}</div>
        </div>
      </div>
      <div class="right">
        <div class="price">{{ params.prefPayRate }} {{ params.prefCurrency }}</div>
        <div class="hour-rate">Per Hour</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="jobprofile-content">
    <h2>Hi I am a {{ params.experience }} Years Experience {{ params.expertLangs }} Teacher</h2>
    <div class="jobprofile-details">
      <h3>Details:</h3>
      <p>{{ params.profileAbout }}</p>
    </div>
    <div class="clear"></div>
    <div class="jobprofile-details">
      <h3>Location</h3>
      <p>
        {{ params.prefLocation }}
      </p>
      <div class="clear"></div>
    </div>
    <div class="job-availablity-details">
      <h3>Available Timings</h3>
      <p>{{ params.defStartTime }} to {{ params.defEndTime}} on {{ params.defStartDate}} to {{ params.defEndDate}}</p>
    </div>
    <div class="job-lang-details">
      <h3>Languages of Expertise</h3>
      <p>{{ params.expertLangs }}</p>
    </div>
    <div class="jobprofile-details">
      <h3>Levels Capable</h3>
      <p>
        P1, P2, P3 & H1
      </p>
      <div class="clear"></div>
    </div>
    <div class="jobprofile-buttons">
      <!-- <button class="button button-positive" (click)="viewProfile()" ion-button full><i class="fa fa-user" aria-hidden="true"></i> <img src="./assets/img/job-profile-icon.png" /> View Job Proife</button> -->
      <button class="button button-positive" ion-button full><i class="fa fa-envelope" aria-hidden="true"></i><img src="./assets/img/view-mail-icon.png" /> Send Mail</button>
      <button (click)="viewReviews(params.requestedId)" class="button button-positive" ion-button full><i class="fa fa-envelope" aria-hidden="true"></i><img src="./assets/img/view-review-icon.png" /> View Reviews</button>
    </div>
  </div>
  <div class="alert-button-group">
    <button ion-button="alert-button" [disabled]="requestSent" (click)="sendRequest()" class="alert-button alert-button-md alert-button-default alert-button-default-md">
      <span class="button-inner" *ngIf="!requestSent">Send Request</span>
      <span class="button-inner" *ngIf="requestSent">Invite Sent</span>
      <div class="button-effect"></div></button>

    </div>
  </ion-content>
