page-launcher {
  .bg-splash{
    background-image: url(../assets/imgs/splash.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
  }
  .scroll-content {
    background: none !important;
  }
}
