page-paymentthankyou {

  text-align: center;

  h2{
    margin-bottom:0;
    color: #000;
    margin-bottom: 5px;
  }
  p{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  .mail{
    font-size: 13px;
    color: #009345;
  }
  img {
    width: 80px;
  }
    .student{
      .card-title{
        background-color: #0096D7!important;
        color: #fff!important;
      }
      .button-positive{
        background-color: #0096D7!important;
        color: #fff!important;
      }

    }
    .parent{
      .card-title{
        background-color: #F97533!important;
        color: #fff!important;
      }
      .button-positive{
        background-color: #F97533!important;
        color: #fff!important;
      }
    }
    .school{
      .card-title{
        background-color: #F31C62!important;
        color: #fff!important;
      }
      .button-positive{
        background-color: #F31C62!important;
        color: #fff!important;
      }
    }


}
