page-school-step2 {
  .cl-school .toolbar-title{
    color: #F31C62  !important
  }
  .back-button{
    color: #F31C62 !important
  }
  .swiper-wrapper{
    width: 120px;
    margin: auto;
    .swiper-slide.active{
      border-color: #F31C62 !important;
    }
  }
  .school-information{
    text-align: center;
    padding-top: 20px;
    h2{
      font-size: 23px;
      color: #F31C62;
    }
  }
  .school-pic{
      text-align: center;
      padding: 20px 0;
      .input-label{
        text-align: center;
        margin: auto;
        width: 100%;
        font-weight: 500;
      }
  }
}
