page-register-step3 {
  .scroll-content{
    padding-top: 0!important;
  }

  .scroll-select{
    .button{
      width:auto!important;
      min-width:40px!important;
      padding:0!important;
      text-align:center;
    }
  }

  .list-files{
    .item-inner{
      margin-left: 5px!important;
    }
  }
  .file-name{
    margin-top: 1px !important;
  }
  .teacher{
    .toolbar-title{
      color: #00BC5B !important;
      font-size: 14px;
    }
  }

  .parent{
    .toolbar-title{
      color: #F97533 !important;
      font-size: 14px;
    }
  }

  .student{
    .toolbar-title{
      color: #0096D7 !important;
      font-size: 14px;
    }
  }

  .school{
    .toolbar-title{
      color: #F31C62 !important;
      font-size: 14px;
    }
  }

  ion-list{
    .teacher-certs{
      border: none;
      background: url(./../assets/img/doc-icon.png) no-repeat;
      background-position: left 7px;
      background-size: 30px;
      width: 100%;
      padding-left: 43px;
      line-height: 32px;
      a{
        float: right;
        border-radius: 3px;
        background-color: #E5E5E5;
        border: 1px solid #cfcfcf;
        padding: 5px 9px 1px 10px;
        display: block;
        width: 35px;
        height: 35px;
      }
    }
  }
  .teacher-cv{
    position: relative;
    height:auto;
    #teacherCv{
      width:100%!important;
      display: block;
      float: none;
      margin: auto;
      margin-bottom: 50px;
      height:40px;
      margin: auto;
      opacity: 0;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      z-index: 10;
      max-width:280px;
      margin: auto;

    }
    .button-cv{
      border-color: transparent;
      background-color: #f8f8f8;
      color: #444;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0 7px;
      min-width: 52px;
      min-height:40px;
      height: 40px;
      line-height: 30px!important;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      vertical-align: top;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 42px;
      cursor: pointer;
      background: #fff!important;
      border-color: #00BC5B!important;
      padding: 0px 10px;
      color: #000;
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // margin: auto;
      // z-index: 0;
      // max-width: 280px;
    }
    .input-label{
      width: 100%;
      color: #00BC5B;
      // padding-top: 60px;
      font-size: 13px;
    }

    .my-class {
      .toolbar-background-md, .toolbar-background-ios, ion-calendar-week .week-title {
        background-color: #424242;
      }
      .month-box {
        background: #343434;
        border-bottom: none;
        h4 {
          color: #fff;
        }
        button.days-btn > p {
          color: #fff;
        }
      }
    }

    .my-cal {
      button.days-btn.my-day {
        small {
          color: #fff;
          background-color: red;
        }
      }
    }

  }

  .swiper-slide{
    width:auto!important;
    padding:13px 15px;
    border:1px solid transparent;
    margin-bottom: 15px;
    p{
      margin: 0;
      line-height:15px;
      font-size: 13px;
    }
  }
  .swiper-slide.active{
    border:1px solid #00BC5B!important;
    padding:0 0;
    border-radius: 200px;
    padding:13px 15px;
    width: auto!important;
  }
  h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    margin-top:15px;
    font-weight:500;
  }
  #year-teaching {
    margin-bottom: 0;
  }

  .slides-0{
    margin-bottom: 15px;
  }
  .available-date{
    width: 100%;
    margin-bottom: 15px;
    .item-inner{
      border:0!important;
      padding-right: 0!important;
    }
    .left, .right{
      float: left;
      width: 45%;
      .item-input{
        padding: 0!important ;
        position: relative;
        ::after{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
        .input{
          border:0!important;
          padding-left:40px;
          height:35px;
          position: relative;
          border:2px solid #00BC5B!important;
          width: 100%;
          padding-left:45px!important;
          background-image: url(../assets/img/date-icon.png);
          background-size: 22px;
          background-position: 7px 4px;
          background-repeat: no-repeat;
          .text-input{
            height: 33px;
            line-height:33px;
            font-size: 15px;
          }
        }
      }
    }
    .to-text{
      float: left;
      width: 10%;
      text-align: center;
      line-height: 50px;
    }
  }

  .available-time{
    width: 100%;
    display: inline-block;
    .item-inner{
      border:0!important;
      padding-right: 0!important;
    }
    .left, .right{
      float: left;
      width: 45%;
      .item-datetime{
        padding: 0!important ;
        position: relative;
        .datetime{
          border:0!important;
          height:35px;
          position: relative;
          border:2px solid #00BC5B!important;
          width: 100%!important;
          padding: 0!important;
          padding-left:45px!important;
          background-image: url(../assets/img/clock-icon.png);
          background-size: 22px;
          background-position: 10px 4px;
          background-repeat: no-repeat;
          .datetime-text{
            height:33px;
            line-height:33px;
            font-size: 15px!important;
          }
          .item-cover-default{
            position: absolute;
            width: 100%;
          }
        }
      }
    }
    .to-text{
      float: left;
      width: 10%;
      text-align: center;
      line-height: 50px;
    }
  }

  .lang-level-label {
    position: absolute !important;
    top: -15px !important;
    left: 43px;
  }

  .rate-button{
    width: 40px !important;
    height: 40px !important;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    color:black;
    box-shadow: none;
    padding: 0px;
  }
  .rate-btn-selected{
    border: 1px solid #00BC5B;
  }
  .rate-display{
    display: inline-flex;
  }
  .rate-scroll{
    height: 70px;
    .scroll-content{
      padding: 2px !important;
    }
  }

}

ion-calendar-modal{
  .toolbar-background{
    background-color: #00BC5B!important;
  }
  .week-title.primary{
    background-color: #00BC5B!important;
  }
  .on-selected{
    background-color: #00BC5B!important;
  }
  .today p{
    color: #00BC5B!important;
  }
}
.picker-wrapper{
  .picker-button{
    color: #00BC5B!important;
  }
}
#resume-list{
  border:0;
  margin-top: 15px;
  margin-bottom: 0;
  .teacher-certs{
    border: 0!important;
    background-position: left 14px;
    background-size: 30px;
    border-top: 1px solid #eee;
  }
  .item-inner{
    padding-right: 0;
    ion-label{
      padding-right: 0;
      margin-right: 0;
      a{
        width: 30px;
        height: 30px;
        line-height:20px;
      }
    }
  }
}
