<!--
  Generated template for the PaymentDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{ userRole }}">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="{{ userRole }}">
  <!-- {{ userProfileData | json }} -->
  <div class="payment-landing">
    <div class="top-content" [ngClass]="{'stripeActive': registeredWithStripe}">
      <p class="headtitle">Hi {{ fullName }}</p>
      <p *ngIf='!registeredWithStripe'>You have not entered your payment details.</p>
      <p *ngIf='registeredWithStripe'>You have entered your payment details.</p>
    </div>

    <div class="middle-content">
      <p>In order to recieve your fees you must have a Stripe account</p>
      <p>If you don't have an account we will help you create one</p>
      <div class="payment-icon">
         <img src="./assets/imgs/stripe.jpg" />
      </div>
    </div>

    <div class="bottom-content">
      <p>Please continue with the process by clicking below</p>
    </div>

    <button class="button button-positive" [disabled]='registeredWithStripe' ion-button full (click)="addPayment()">Register your Stripe Account</button>
  </div>

  <p>By registering your account, you agree to our Services Agreement and the <a target="_blank" href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement</a>.</p>
</ion-content>
