<!--
  Generated template for the EditProfileStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="getRole()">Personal Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="EditProfilestep2Form" name="EditProfilestep2Form" (ngSubmit)="next(EditProfilestep2Form.value)" novalidate>
    <ion-list class="list-inset registration teacher step2">

      <div class="tagline">
        <p>Tell us about yourself</p>
      </div>

      <div class="profile-pic">
        <img id="picForDisplay" (click)="chooseUploadType($event)" [src]="pageProfileSrc" width="150px" *ngIf="!photoSelected && !photoTaken" />
        <img (click)="chooseUploadType($event)" [src]="cameraData" *ngIf="photoTaken" width="150px">
        <img (click)="chooseUploadType($event)" [src]="cameraUrl" *ngIf="photoSelected" width="150px">
        <span class="input-label">Upload your photo</span>
      </div>

      <!-- Name for non-School users -->
      <div *ngIf="userRole !== 'school'">
        <ion-item>
          <ion-label fixed>Name</ion-label>
          <ion-input [value]="fullName" type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item *ngIf="!EditProfilestep2Form.controls['name'].valid && !EditProfilestep2Form.controls['name'].pristine" class="item-message">
          Name is required
        </ion-item>
      </div>

      <!-- Names for School users -->
      <div *ngIf="userRole == 'school'">
        <ion-item>
          <ion-label fixed>School Name</ion-label>
          <ion-input [value]="schoolName" type="text" formControlName="schoolName"></ion-input>
        </ion-item>

        <ion-item *ngIf="!EditProfilestep2Form.controls['schoolName'].valid && !EditProfilestep2Form.controls['schoolName'].pristine" class="item-message">
          School Name is required
        </ion-item>

        <ion-item>
          <ion-label fixed>Contact Name</ion-label>
          <ion-input [value]="contactName" type="text" formControlName="contactName"></ion-input>
        </ion-item>

        <ion-item *ngIf="!EditProfilestep2Form.controls['contactName'].valid && !EditProfilestep2Form.controls['contactName'].pristine" class="item-message">
          Contact Name is required
        </ion-item>

        <ion-item>
          <ion-label fixed>Contact Position</ion-label>
          <ion-input [value]="contactPosition" type="text" formControlName="contactPosition"></ion-input>
        </ion-item>

        <ion-item *ngIf="!EditProfilestep2Form.controls['contactPosition'].valid && !EditProfilestep2Form.controls['contactPosition'].pristine" class="item-message">
          Contact Position is required
        </ion-item>
      </div>

      <!-- Phone -->
      <ion-item>
        <ion-label fixed>Phone Number</ion-label>
        <ion-input [value]="phone" type="tel" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item *ngIf="!EditProfilestep2Form.controls['phone'].valid && !EditProfilestep2Form.controls['phone'].pristine" class="item-message">
        Phone number is required
      </ion-item>

      <!-- Profile Title and Message -->
      <ion-item>
        <ion-label fixed>Profile Title</ion-label>
        <ion-input [value]="profileTitle" formControlName="profileTitle"></ion-input>
      </ion-item>

      <ion-item *ngIf="!EditProfilestep2Form.controls['profileTitle'].valid && !EditProfilestep2Form.controls['profileTitle'].pristine" class="item-message">
        Profile Title is required
      </ion-item>

      <ion-item>
        <ion-label fixed>Profile Message</ion-label>
        <ion-textarea [value]="profileMessage" formControlName="profileMessage"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!EditProfilestep2Form.controls['profileMessage'].valid && !EditProfilestep2Form.controls['profileMessage'].pristine" class="item-message">
        Profile Message is required
      </ion-item>

      <div *ngIf="userRole !== 'school'">
        <h3>Are you part of a school?</h3>
        <ion-slides id="student-school" slidesPerView="2">
          <ion-slide (click)="filterpartOfSchool(true)" [ngClass]="{'active': partOfSchool == true}">
            <p>Yes</p>
          </ion-slide>
          <ion-slide (click)="filterpartOfSchool(false)" [ngClass]="{'active': partOfSchool == false}">
            <p>No</p>
          </ion-slide>
        </ion-slides>

        <div [hidden]="partOfSchool != true" class="school-information">
          <h2>School Information</h2>
          <ion-item>
            <ion-label fixed>Your School Name</ion-label>
            <ion-input [value]="othersSchoolName" type="text" formControlName="othersSchoolName"></ion-input>
          </ion-item>

          <ion-item *ngIf="!EditProfilestep2Form.controls['othersSchoolName'].valid && !EditProfilestep2Form.controls['othersSchoolName'].pristine" class="item-message">
            Your School Name is required
          </ion-item>
        </div>
      </div>

    </ion-list>

    <button class="button button-positive bg-student" [disabled]="!EditProfilestep2Form.valid" ion-button full>Next</button>

  </form>

</ion-content>
