<!--
  Generated template for the TimeSelectorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ selectedDate }} Timing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="selectedDate">
    <ion-label>Starting at:</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" (ionChange)="timeSet()" [(ngModel)]="event.timeStarts"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="selectedDate">
    <ion-label>Finishing at:</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" (ionChange)="timeSet()" [(ngModel)]="event.timeEnds"></ion-datetime>
  </ion-item>
  <div *ngIf="selectedDate">
    <ion-label>Total Hours:</ion-label>
    <div>{{ totalHours }}</div>
  </div>
  <div *ngIf="selectedDate">
    <ion-label>Total Amount:</ion-label>
    <div>{{ totalAmount }}</div>
  </div>

  <!-- TODO: add S45 buttons here -->
  <button ion-button full [disabled]="!readyToPay" (click)="goPay()">OK, Pay Now</button>
</ion-content>
