page-register-school-step1 {

  .cl-school .toolbar-title{
    color: #F31C62 !important
  }
  .back-button{
    color: #F31C62 !important
  }
  .bg-school{
    background-color: #F31C62!important;
  }

}
