<!--
  Generated template for the RegisterStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{ role }}">
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu">Menu</ion-icon>
    </button> -->
    <ion-title>Account Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="{{ role }}" padding>

  <!--<div>
    <h4>Debug</h4>
    <pre>Form : {{Step2Form.value | json }}</pre>
    <pre>Form Status : {{Step2Form.status }}</pre>
  </div>-->

  <form [formGroup]="Step2Form" name="Step2Form" (ngSubmit)="next(Step2Form.value)" novalidate>

    <div class="list list-inset registration {{ role }} step2">

      <div class="tagline">
        <p>Tell us about yourself</p>
      </div>
      <div class="school-pic" *ngIf="role == 'school'">
        <img id="picForSchool" (click)="chooseUploadType($event, 'school')" [src]="schoolPicSrc" width="300px" *ngIf="!schoolPhotoSelected && !schoolPhotoTaken" />
        <img (click)="chooseUploadType($event, 'school')" [src]="schoolCameraData" *ngIf="schoolPhotoTaken" width="150px">
        <img (click)="chooseUploadType($event, 'school')" [src]="schoolCameraUrl" *ngIf="schoolPhotoSelected" width="150px">
        <span class="input-label">Upload your school photo</span>
      </div>

      <div class="profile-pic">
        <img id="picForDisplay" (click)="chooseUploadType($event, 'prof')" [src]="profilePicSrc" width="150px" *ngIf="!photoSelected && !photoTaken" />
        <img (click)="chooseUploadType($event)" [src]="cameraData" *ngIf="photoTaken" width="150px">
        <img (click)="chooseUploadType($event)" [src]="cameraUrl" *ngIf="photoSelected" width="150px">
        <span class="input-label">Upload Your Photo</span>
      </div>

      <!-- Name -->
      <!-- <label class="item item-input">
        <span class="input-label">Name</span>
        <ion-input placeholder="i.e. John Smith" type="text" formControlName="name"></ion-input>
      </label> -->
      <div *ngIf="role == 'school'">
        <ion-item>
          <ion-label fixed>School Name</ion-label>
          <ion-input placeholder="eg: St. John High School" type="text" formControlName="schoolName"></ion-input>
        </ion-item>

        <div *ngIf="!Step2Form.controls['schoolName'].valid && Step2Form.controls['schoolName'].touched" class="item item-message">
          School Name is required
        </div>

        <ion-item>
          <ion-label fixed>Representative / Contact Person Name</ion-label>
          <ion-input placeholder="eg: John Doe" type="text" formControlName="contactName"></ion-input>
        </ion-item>

        <div *ngIf="!Step2Form.controls['contactName'].valid && Step2Form.controls['contactName'].touched" class="item item-message">
          Contact Person Name is required
        </div>

        <ion-item>
          <ion-label fixed>Representative / Contact Position at School</ion-label>
          <ion-input placeholder="eg: Principle" type="text" formControlName="contactPosition"></ion-input>
        </ion-item>

        <div *ngIf="!Step2Form.controls['contactPosition'].valid && Step2Form.controls['contactPosition'].touched" class="item item-message">
          Contact Position is required
        </div>

      </div>
      <ion-item>
        <ion-label fixed>Full Name</ion-label>
        <ion-input placeholder="i.e. John Smith" type="text" formControlName="name"></ion-input>
      </ion-item>

      <div *ngIf="!Step2Form.controls['name'].valid && Step2Form.controls['name'].touched" class="item item-message">
        Name is required
      </div>

      <!-- Profile Title -->
      <!-- <label class="item item-input">
        <span class="input-label">Profile Title</span>
        <ion-input placeholder="Certified TOEFL Instructor" type="type" formControlName="profileTitle"></ion-input>
      </label> -->
      <ion-item>
        <ion-label fixed>Profile Title</ion-label>
        <ion-input placeholder="{{ titlePlaceHolder }}" type="type" formControlName="profileTitle"></ion-input>
      </ion-item>

      <div *ngIf="!Step2Form.controls['profileTitle'].valid && Step2Form.controls['profileTitle'].touched" class="item item-message">
        Profile Title is required
      </div>

      <!-- Profile Message -->
      <!-- <label class="item item-input">
        <span class="input-label">Profile Message</span>
        <ion-textarea formControlName="profileAbout" placeholder="Although I am certified in TOEFL I also have a passion for teaching Korean. Please book a session with me, you'll be amazed at the quick learning results!"></ion-textarea>
      </label> -->
      <ion-item>
        <ion-label fixed>Profile Message</ion-label>
        <ion-textarea formControlName="profileAbout" placeholder="{{ messagePlaceHolder }}"></ion-textarea>
      </ion-item>

      <div *ngIf="!Step2Form.controls['profileAbout'].valid && Step2Form.controls['profileAbout'].touched" class="item item-message">
        Profile Message is required
      </div>

      <!-- <div *ngIf="role == 'student' || role =='parent'">
        <h3>Are you part of a school</h3>
        <ion-slides id="student-school" slidesPerView="2">
          <ion-slide (click)="filterpartOfSchool(true)" [ngClass]="{'active': partOfSchool == true}">
            <p>Yes</p>
          </ion-slide>
          <ion-slide (click)="filterpartOfSchool(false)" [ngClass]="{'active': partOfSchool == false}">
            <p>No</p>
          </ion-slide>
        </ion-slides>

        <div *ngIf="partOfSchool == true" class="school-information">
          <h2>School Information</h2>
          <ion-item>
            <ion-label fixed>School Name</ion-label>
            <ion-input placeholder="eg: St. John High School" type="text" formControlName="associateSchoolName"></ion-input>
          </ion-item>

          <div *ngIf="!Step2Form.controls['associateSchoolName'].valid && Step2Form.controls['associateSchoolName'].touched" class="item item-message">
            School Name is required
          </div>
        </div>
      </div> -->

      <div *ngIf="role == 'student'">
        <div class="tagline">
          <p>What's Your Fee?</p>
        </div>
        <h3>Preferred Hourly Rates</h3>
        <ion-slides (ionSlideDidChange)="rateChanged()" slidesPerView="6">
          <ion-slide (click)="filterRate(rate.value)" [ngClass]="{'active': hourlyRate == rate.value}" *ngFor="let rate of hourRates">
            <p>{{ rate.text }}</p>
          </ion-slide>
        </ion-slides>

        <ion-item>
          <ion-label fixed>Preferred Learning Location</ion-label>
          <ion-input placeholder="Location Name" [(ngModel)]="userLocation" id="locationSearch" type="text" formControlName="prefLocation"></ion-input>
        </ion-item>
  
        <div *ngIf="!Step2Form.controls['prefLocation'].valid && Step2Form.controls['prefLocation'].touched" class="item item-message">
          Preferred Location
        </div>
      </div>

      <button *ngIf="role != 'student'" class="button button-positive" [disabled]="Step2Form.invalid" ion-button full>Next </button>
      <button *ngIf="role == 'student'" class="button button-positive" [disabled]="Step2Form.invalid" ion-button full>Submit </button>
    </div>


  </form>

</ion-content>
