page-register-step2 {
  background-color: #fff;
  .teacher{
    .toolbar-title{
      color: #00BC5B !important;
      font-size: 14px;
    }
    .back-button{
      color: #00BC5B;
    }
    .tagline{
      background-color: #00BC5B;
    }
    .button.button-positive {
      background-color: #00BC5B;
      &:hover {
        background-color: #006838;
      }
    }
    .button.button-positive.activated {
      border-color: #006838;
      background-color: #006838;
    }
  }

  .parent{
    .toolbar-title{
      color: #F97533 !important;
      font-size: 14px;
    }
    .back-button{
      color: #F97533 !important
    }
    .tagline{
      background-color: #F97533;
    }
    .button.button-positive {
      background-color: #F97533;
      &:hover {
        background-color: #F97533;
      }
    }
  }

  .student{
    .toolbar-title{
      color: #0096D7 !important;
      font-size: 14px;
    }
    .back-button{
      color: #0096D7 !important
    }
    .tagline{
      background-color: #0096D7;
    }
    .button.button-positive {
      background-color: #0096D7;
      &:hover {
        background-color: #0096D7;
      }
    }
  }

  .school{
    .toolbar-title{
      color: #F31C62 !important;
      font-size: 14px;
    }
    .back-button{
      color: #F31C62 !important
    }
    .tagline{
      background-color: #F31C62;
    }
    .button.button-positive {
      background-color: #F31C62;
      &:hover {
        background-color: #F31C62;
      }
    }
  }

    .tagline{
      text-align: center;
      font-size: 14px;
      color: #fff;
      padding:5px 10px;
      margin:0 -15px 10px;
      margin-bottom: 10px
    }

    .button.button-positive {
      padding: 0px;
      font-size: 18px;
      border-radius:5px;
      display: block;
      height:45px;
      line-height:45px;
      box-shadow:none;
      border:0;
      margin: 20px 0;
    }
    .bg-parent{
      background-color: #F97533!important;
    }

    .swiper-wrapper{
      width: 120px;
      margin: auto;
      .swiper-slide.active{
        border-color: #F97533 !important;
      }
    }
    .school-information{
      text-align: center;
      padding-top: 20px;
      h2{
        font-size: 23px;
        color: #F97533;
      }
    }
    .scroll-content{
      padding-top: 0!important;
    }
    .item-ios.item-block{
      .item-inner{
       padding-right: 0;
       border:0;
       .text-input{
         height: 30px;
         width: 100%;
       }
     }
    }

}
