<!--
  Generated template for the TeacherStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <!-- <ion-icon name="{{ 'menu' | translate }}"></ion-icon> -->
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'teacherInformation' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div>
    <h4>Debug</h4>
    <pre>Form : {{Teacherstep2Form.value | json }}</pre>
    <pre>Form Status : {{Teacherstep2Form.status }}</pre>
  </div>

  <form [formGroup]="Teacherstep2Form" name="Teacherstep2Form" (ngSubmit)="next(Teacherstep2Form.value)" novalidate>

    <div class="list list-inset registration teacher step2">

      <div class="tagline">
        <p>{{ "tellUsAboutYourself" | translate }}</p>
      </div>

      <div class="profile-pic">
        <img id="picForDisplay" (click)="chooseUploadType($event)" [src]="pageProfileSrc" width="150px" *ngIf="!photoSelected && !photoTaken" />
        <img (click)="chooseUploadType($event)" [src]="cameraData" *ngIf="photoTaken" width="150px">
        <img (click)="chooseUploadType($event)" [src]="cameraUrl" *ngIf="photoSelected" width="150px">
        <span class="input-label">{{ "uploadYourPhoto" | translate }}</span>
      </div>

      <!-- Name -->
      <label class="item item-input">
        <span class="input-label">{{ "name" | translate}}</span>
        <ion-input placeholder="i.e. John Smith" type="text" formControlName="name"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['name'].valid && Teacherstep2Form.controls['name'].touched" class="item item-message">
        Name is required
      </div>

      <!-- Phone -->
      <label class="item item-input">
        <span class="input-label">{{ "phoneNumber" | translate }}</span>
        <ion-input placeholder="510-555-0162" type="tel" formControlName="phone"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['phone'].valid && Teacherstep2Form.controls['phone'].touched" class="item item-message">
        Phone number is required
      </div>

      <!-- Age -->
      <label class="item item-input">
        <span class="input-label">{{ "age" | translate }}</span>
        <ion-input placeholder="28" type="number" formControlName="age"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['age'].valid && Teacherstep2Form.controls['age'].touched" class="item item-message">
        Age is required
      </div>

      <!-- Native Language -->
      <label class="item item-input">
        <span class="input-label">{{ "nativeLanguage" | translate }}</span>
        <ion-input placeholder="English" type="type" formControlName="native"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['native'].valid && Teacherstep2Form.controls['native'].touched" class="item item-message">
        Native Language is required
      </div>

      <!-- Nationality -->
      <label class="item item-input">
        <span class="input-label">{{ "nationality" | translate }}</span>
        <ion-input placeholder="Korean American" type="type" formControlName="nationality"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['nationality'].valid && Teacherstep2Form.controls['nationality'].touched" class="item item-message">
        Nationality is required
      </div>

      <!-- Profile Title -->
      <label class="item item-input">
        <span class="input-label">{{ "profileTitle" | translate}}</span>
        <ion-input placeholder="Certified TOEFL Instructor" type="type" formControlName="profileTitle"></ion-input>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['profileTitle'].valid && Teacherstep2Form.controls['profileTitle'].touched" class="item item-message">
        Profile Title is required
      </div>

      <!-- Profile Message -->
      <label class="item item-input">
        <span class="input-label">{{ "message" | translate }}</span>
        <ion-textarea formControlName="profileMessage" placeholder="Although I am certified in TOEFL I also have a passion for teaching Korean. Please book a session with me, you'll be amazed at the quick learning results!"></ion-textarea>
      </label>

      <div *ngIf="!Teacherstep2Form.controls['profileMessage'].valid && Teacherstep2Form.controls['profileMessage'].touched" class="item item-message">
        Profile Message is required
      </div>

    </div>

    <button class="button button-positive" [disabled]="!Teacherstep2Form.valid" ion-button full>{{ "next" | translate }}</button>

  </form>

</ion-content>
