// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*.header{
  .bar-buttons{
    position: absolute;
    right: 0;
  }
}*/
.alert-button{
  border-radius: 5px!important;
  font-size: 16px;
}
.jobprofile-buttons{
  .button{
    height: 40px!important;
    img{
      width:15px;
      margin-right:10px;
    }
  }
  .button-positive{
    background-color: #eee!important;
  }
}
.student{
    .notification{
      span{
          background-color: #0096D7!important;
      }
    }
    .bottom-search-box{
      width: 100%;
      .item-input{
        width: 100%;
        margin: 0;
        border:1px solid #cfcfcf;
        border-radius: 5px;
        text-indent: 10px;
        margin-top:15px;
        padding-left:25px;
        height: 40px;
        background-image: url(../../assets/img/student-map-icon30px.png);
        background-size:20px;
        background-position: 8px center;
        background-repeat: no-repeat;
      }
      .button{
          background-color: #0096D7!important;
          color: #fff;
          width: 100%;
          padding: 15px 10px;
          height: auto;
          line-height: 15px;
          margin:10px 0;
      }
    }
    .alert-button{
      background-color: #0096D7!important;
      color: #fff;
      width: 100%;
      padding: 15px 10px;
      height: auto;
      line-height: 15px;
      margin:10px 0;
    }
    .content{
      .price{
        color: #0096D7!important;
      }
      .alert-button{
        background-color: #0096D7!important;
        border-radius: 5px!important;
      }
    }
    .notification{
      .price{
        color: #0096D7!important;
      }
    }
    .header{
      .back-button{
        color: #0096D7!important;
      }
      .toolbar-title{
        color: #0096D7!important;
      }
      .bar-button-default-md{
        color: #0096D7!important;
      }
    }
    .review-title{
      color: #0096D7!important;
    }
    .review-pop-search{
      border-bottom: 3px solid #0096D7;
    }


}
.student.header{
  .back-button{
    color: #0096D7!important;
  }
  .toolbar-title{
    color: #0096D7!important;
  }
  .bar-button-default-md{
    color: #0096D7!important;
  }
}

.clear{
  clear: both;
}

.side-bar-menu {
  button {
    font-size:2rem;
    ion-icon {
      padding: 7px 15px 0 0;
    }
  }

  .scroll-content {
    padding: 0 !important;
  }
}
