<!--
  Generated template for the SmartieSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="role">
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button class="notification" (click)="pushAccepteds()"><span>{{ notifyCount }}</span></button>
    </ion-buttons>
    <ion-title class="horizontal-logo"></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="smartie-search" [ngClass]="role">
  <div #map id="map"></div>
  <div class="bottom-search-box">
    <input class="item item-input" name="searchloc" type="text" placeholder="Los Angeles, CA" #searchloc>
    <button class="button button-positive" (click)="findJobsSearch(searchloc.value)">
      <span *ngIf="role == 'teacher'">Find Jobs</span>
      <span *ngIf="role !== 'teacher'">Find Teachers</span>
    </button>
  </div>
</ion-content>
