<!--
  Generated template for the SmartieSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="role">
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="horizontal-logo"></ion-title>
    <ion-buttons end>
      <button [disabled]="notifyCount == 0" class="notification-brain" (click)="pushAccepteds()"><span *ngIf="notifyCount">{{ notifyCount }}</span></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="smartie-search" [ngClass]="role">
  <div #map id="map"></div>
  <div class="bottom-search-box">
    <ion-input class="item item-input" [(ngModel)]="userLocation" id="locationSearchMaps" type="text"></ion-input>
    <button class="button button-positive" (click)="findJobsSearch()">
      <span *ngIf="role == 'teacher'">Find Jobs</span>
      <span *ngIf="role !== 'teacher'">Find Teachers</span>
    </button>
  </div>
</ion-content>
