<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{ userRole }}">
  <ion-navbar>
    <ion-title>Select Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="{{ userRole }}" padding>
  <h4 style="color:red" *ngIf="userRole !== 'teacher'">{{ params.fullname }} Has ACCEPTED! Now book your session according to your teacher's availability!</h4>
  <h4 style="color:red" *ngIf="userRole == 'teacher'">{{ params.fullname }} Has ACCEPTED! Now book your session according to your own availability!</h4>
  <div class="left">
    <div class="avatar"><img *ngIf="params.profilePhoto !== undefined" src="{{ params.profilePhoto.url }}"><img *ngIf="params.profilePhoto == undefined" src="{{ genericAvatar }}" /></div>
    <div class="u-detail">
      <div class="name">{{ params.fullname }}</div>
      <div class="profile-type">{{ params.role }}</div>
    </div>
  </div>
  <div class="right" *ngIf="params.prefPayRate">
    <div class="price">{{ params.prefPayRate }}</div>
    <div class="hour-rate">Per Hour</div>
  </div>
  <div class="clear"></div>

  <div class="jobprofile-content">
    <div class="jobprofile-details">
      <h3>Preferred Location</h3>
      <p>{{ params.prefLocation }}</p>
    </div>
    <div *ngIf="params.defaultStartTime" class="job-availablity-details">
      <h3>Available Timings</h3>
      <p style="margin-bottom:0">{{ params.defaultStartTime }} to {{ params.defaultEndTime}} on {{ params.defaultStartDate}} to {{ params.defaultEndDate}}</p>
    </div>
    <p style="margin-top:50px;margin-bottom:5px;">Select your schedule based on availability</p>
    <button ion-button full (click)="pickDateCalendar()">Select Schedule</button>
    <ion-item *ngIf="selectedDate">
      <ion-label>{{ selectedDate }} from:</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="selectedDate">
      <ion-label>{{ selectedDate }} to:</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnds"></ion-datetime>
    </ion-item>
  </div>
</ion-content>
