page-create-job {
  .month-box {
    background: #343434;
    border-bottom: none;
    h4 {
      color: #fff;
    }
    button.days-btn > p {
      color: #fff;
    }
  }

  .my-cal {
    button.days-btn.my-day {
      small {
        color: #fff;
        background-color: red;
      }
    }
  }

  .swiper-slide{
    width:auto!important;
    padding:13px 15px;
    border:1px solid transparent;
    p{
      margin: 0;
      line-height:15px;
    }
  }

  .swiper-slide.active{
    border:1px solid #00BC5B!important;
    padding:0 0;
    border-radius: 200px;
    padding:13px 15px;
    width: auto!important;
  }
  h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    margin-top:30px;
    font-weight:500;
  }

  .available-date{
      width: 100%;
      margin-bottom: 15px;
      .left, .right{
          float: left;
          width: 45%;
          .item-input{
            padding: 0!important ;
            position: relative;
            ::after{
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
            .text-input{
              border:0!important;
              padding-left:40px;
              height: 45px;
              position: relative;
              border:2px solid #00BC5B!important;
              width: 100%;
              padding-left:45px!important;
              background-image: url(../assets/img/date-icon.png);
              background-size: 22px;
              background-position: 10px center;
              background-repeat: no-repeat;
              .text-input{
                height: 45px;
                line-height: 45px;
                font-size: 15px;
              }
            }
          }
      }
      .to-text{
        float: left;
        width: 10%;
        text-align: center;
        line-height: 50px;
      }
  }

  .available-time{
      width: 100%;
      .left, .right{
          float: left;
          width: 45%;
          .item-datetime{
            padding: 0!important ;
            position: relative;
            .datetime{
              border:0!important;
              height: 45px;
              position: relative;
              border:2px solid #00BC5B!important;
              width: 100%!important;
              padding: 0!important;
              padding-left:45px!important;
              background-image: url(../assets/img/clock-icon.png);
              background-size: 22px;
              background-position: 10px center;
              background-repeat: no-repeat;
              .datetime-text{
                height: 45px;
                line-height: 42px;
                font-size: 15px!important;
              }
              .item-cover-default{
                position: absolute;
                width: 100%;
              }
            }
          }
      }
      .to-text{
        float: left;
        width: 10%;
        text-align: center;
        line-height: 50px;
      }
  }
}
