<!--
  Generated template for the TestingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <!-- <ion-icon name="{{ 'menu' | translate }}"></ion-icon> -->
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cl-teacher">{{ 'accountInformation' | translate }}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <form [formGroup]="Teacherstep1Form" name="Teacherstep1Form" (ngSubmit)="next(Teacherstep1Form.value)" novalidate>

    <!--<div>
      <h4>Debug</h4>
      <pre>Form : {{Teacherstep1Form.value | json }}</pre>
      <pre>Form Status : {{Teacherstep1Form.status }}</pre>
      <pre>Form Password Status : {{Teacherstep1Form.get('password').status }}</pre>
      <pre>Form confPassword Status : {{Teacherstep1Form.get('confPassword').status }}</pre>
    </div>-->
    <div class="list list-inset registration teacher">

      <div class="tagline">
        <p>{{ "letsCreateAccountInformation" | translate }}</p>
      </div>

      <!--<label class="item item-input">
        <span class="input-label">{{ "email" | translate }}</span>
        <ion-input placeholder="yourmail@mail.com" type="text" formControlName="email"></ion-input>
      </label>


      <div *ngIf="Teacherstep1Form.controls['email'].invalid && Teacherstep1Form.controls['email'].touched" class="item item-message">
        Email is required
      </div> -->

      <ion-item>
        <ion-label fixed>{{ "email" | translate }}</ion-label>
        <ion-input placeholder="yourmail@mail.com" type="text" formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="Teacherstep1Form.controls['email'].invalid && Teacherstep1Form.controls['email'].touched" class="item item-message">
        Email is required
      </div>

      <!--<label class="item item-input">
        <span class="input-label">{{ "userName" | translate }}</span>
        <ion-input placeholder="johndoe" type="text" formControlName="username"></ion-input>
      </label>

      <div *ngIf="Teacherstep1Form.controls['username'].invalid && Teacherstep1Form.controls['username'].touched" class="item item-message">
        User name is required
      </div> -->

      <ion-item>
        <ion-label fixed>{{ "userName" | translate }}</ion-label>
        <ion-input placeholder="johndoe" type="text" formControlName="username"></ion-input>
      </ion-item>

      <div *ngIf="Teacherstep1Form.controls['username'].invalid && Teacherstep1Form.controls['username'].touched" class="item item-message">
        User name is required
      </div>


      <!--<label class="item item-input">
        <span class="input-label">{{ "password" | translate }}</span>
        <ion-input placeholder="********" type="password" formControlName="password"></ion-input>
      </label>

      <div class="item item-message" *ngIf="Teacherstep1Form.get('password').invalid && Teacherstep1Form.get('password').touched">
        Password is required, Password must be longer than 6 characters
      </div>-->

      <ion-item>
        <ion-label fixed>{{ "password" | translate }}</ion-label>
        <ion-input placeholder="********" type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="item item-message" *ngIf="Teacherstep1Form.get('password').invalid && Teacherstep1Form.get('password').touched">
        Password is required, Password must be longer than 6 characters
      </div>

      <!--<label class="item item-input">
        <span class="input-label">{{ "confirmPassword" | translate }}</span>
        <ion-input placeholder="********" type="password" formControlName="confPassword"></ion-input>
      </label>

      <div class="item item-message" *ngIf="Teacherstep1Form.get('confPassword').invalid && Teacherstep1Form.get('confPassword').touched">
        Confirm Password is required, Confirm Password must be longer than 6 characters, Password mismatch
      </div>-->

      <ion-item>
        <ion-label fixed>{{ "confirmPassword" | translate }}</ion-label>
        <ion-input placeholder="********" type="password" formControlName="confPassword"></ion-input>
      </ion-item>

      <div class="item item-message" *ngIf="Teacherstep1Form.get('confPassword').invalid && Teacherstep1Form.get('confPassword').touched">
        Confirm Password is required, Confirm Password must be longer than 6 characters, Password mismatch
      </div>


    </div>
    <button class="button button-positive" [disabled]="Teacherstep1Form.invalid" ion-button full>{{ "next" | translate }}</button>

  </form>
</ion-content>
