<!--
  Generated template for the ViewAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="role">

  <ion-navbar>
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content [ngClass]="role">

  <div class="appointment-wrap">
    <div *ngIf="appointments == null && !isFetching" class="text-center">
      <p>No appointments for you!</p>
    </div>
    <div *ngIf="isFetching" class="text-center">
      <p>Fetching your appointments</p>
    </div>
    <div *ngFor="let appointment of appointments">
      <div class="appointment-container">
        <h3>{{ appointment?.owner}}</h3>
        <button class="button button-review" (click)="reviewProfile(appointment)" ion-button primary>Review</button>
      </div>
      <div class="appointment-date"> {{ appointment.startDate }} </div>
      <div class="appointment-time">
        <p><strong>Start Time:</strong> {{ appointment.startTime }}</p>
        <p><strong>End Time:</strong> {{ appointment.endTime }}</p>
      </div>
    </div>

  </div>
</ion-content>
