page-view-appointment {
  .appointment-wrap{
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    h3{
      font-size: 17px;
      color: #333;
      font-weight: bold;
      text-align: center;
      float: left;
    }
    .appointment-date{
      padding: 10px;
      line-height: 12px;
      font-size: 15px;
      color: #fff;
      text-align: center;
    }
    .appointment-time{
      padding: 0 25px;
    }
    .appointment-container{
      display: inline-block;
      width: 100%;
      padding: 10px 25px;

      .button-review{
        float: right;
        background-color: #DADADA;
        color: #000;
      }
    }
  }
  .student{
    .appointment-date{
      background-color: #0096D7;
    }
  }
  .teacher{
    .appointment-date{
      background-color: #00BC5B;
    }
  }
}
