page-add-bank-account {
  .header{
    height: 60px;
    .toolbar-content{
      line-height: 75px
    }
  }
  .scroll-content{
    padding: 0!important;
    form{
      padding: 16px!important;
      width: 100%;
      display: block;
    }

  }
  .item-block{
    margin-top:20px;
    padding: 0;
    &:first-child{
      margin-top: 0;
    }
    .input-wrapper{
      width: 100%;
      display: block;;
      .label{
        width: 100%;
        display: block;
        text-align: left;
        color: #000;
        float: none;
        max-width: 100%;
        margin: 0;
        font-size: 14px;
      }
      .text-input{
        width: 100%!important;
        display: block;
        float: none;
        padding-right: 0!important;
        margin: 0!important;
      }
    }
    ion-select{
      max-width: 100%;
      padding:5px 0;
      font-size: 15px;
    }
    .select-ios .select-icon{
      width:20px;
    }

  }
  .button-positive{
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom:10px;
  }

  .profile-data{
      padding:15px;
      width: 100%;
      float: left;
      text-align: center;
      margin-bottom: 30px;
      .left {
        display: inline-block;
        clear: both;
        float: none;
        margin-bottom: 0;
        .avatar {
          float: none;
          width:60px;
          height:60px;
          overflow: hidden;
          border-radius: 200px;
          margin-right: 10px;
          border:2px solid #fff;
          margin: auto;;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .u-detail{
          padding:10px 0 0;
          color: #fff;
          float: left;
          text-align: left;
          width: 100%;
          .name{
            font-size: 13px;
            text-align: center;
            font-weight: bold;
          }
          .profile-type{
            font-size: 11px;
            text-align: center;
          }
          .mail-name{
            font-size: 13px;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
          }
        }
      }
      .rates{
        display:block;
        width: 100%;
        text-align: center;
        color: #fff;
        clear: both;
        h3{
          font-size:15px;
          color: #fff;
          .money{
            color: #ffff;
            font-size: 25px;
            line-height:30px;
            margin-top: 15px;
            font-weight: bold;
            text-align: center;
            display: block;
          }
        }
      }
      }
      .teacher{
         .profile-data{
            background-color: #00BC5B;
          }
          .back-button-icon{
            color: #00BC5B !important
          }
          .back-button-text{
            color: #00BC5B !important
          }
          .button-positive{
            background-color: #00BC5B !important
          }
       }
      .student{

        .back-button-icon{
          color: #0096D7 !important
        }
        .back-button-text{
          color: #0096D7 !important
        }
        .button-positive{
          background-color: #0096D7 !important
        }
         .profile-data{
            background-color: #0095D2;
          }
       }
       .parent{

         .back-button-icon{
           color: #F97533 !important
         }
         .back-button-text{
           color: #F97533 !important
         }
         .button-positive{
           background-color: #F97533 !important
         }
          .profile-data{
             background-color: #F97533;
           }
        }
      .school{

            .back-button-icon{
              color: #F31C62 !important
            }
            .back-button-text{
              color: #F31C62 !important
            }
            .button-positive{
              background-color: #F31C62 !important
            }
           .profile-data{
              background-color: #F31C62;
            }
       }

}
